%li
  %span.description= link_to record.description, record.recordable.path
  %ul.tags
    %li.record-date= record.created_at.strftime("%m.%d.%y")
    %li.entry-type{ class: "entry-type-#{record.recordable_type.downcase}" }= record.recordable_type
    - record.recordable.taggable.tag_list.each do |tag|
      %li.entry-tag= tag
