%ul#records
  - @records.each do |record|
    %li
      %span.description= link_to record.description, record.recordable.path
      %ul.tags
        %li.record-date= record.created_at.strftime("%m.%e.%y")
        %li.entry-type{ class: "entry-type-#{record.recordable.type.downcase}" }= record.recordable.type
