// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#blog-post {
  font-size: 16px;
  line-height: 24px;
  margin: 0 3em;

  h2 {
    font-size: 45px;
    line-height: 48px;
    margin-top: .5em;
  }

  h3 {
    font-size: 37px;
    line-height: 42px;
  }

  h2, h3 {
    font-family: 'Slabo 27px', serif;
    margin-bottom: 0;
    font-weight: normal;
  }
}

#blog-footer {
  background-color: #f8f8f8;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #DDD;
  color: #777;
  padding: .75em 1em;
  font-size: 0.9em;
  margin-bottom: 1em;

  time {
    border-bottom: 1px dotted #777;
  }
}

#stream-post {
  h2 {
    background-color: #98FB98;
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 20px;
    border-top: 1px solid #7BCC70;
    border-bottom: 1px solid #7BCC70;
  }

  #stream-intro {
    font-size: 16px;
    margin: 0 20px;
  }

  .stream-update {
    font-size: 16px;
    padding: 0 20px;
    border-top: 1px solid #DEDEDE;

    .update-posted {
      display: block;
      font-style: italic;
      text-align: right;
      color: #989898;
      font-size: 14px;
      margin-top: .5em;
    }
  }
}

.entry-content {
  hyphens: auto;
  word-wrap: break-word;
  text-align: justify;
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
    font-weight: bold;

    &, &:visited {
      color: #ee2c2c;
    }

    &:hover {
      text-decoration: underline;
      color: #9ea1ad;
    }
  }

  li {
    & + li {
      margin-top: 1em;
    }
  }

  img {
    max-width: 100%;
    box-sizing: border-box;
  }

  figure {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 0.25em 0.25em 0 0.25em;
    font-size: 0.75em;
    line-height: 24px;

    img {
      display: block;
      border: 1px solid #bbb;
    }

    figcaption {
      font-style: italic;
      text-align: center;
      margin: 0.25em;
    }
  }
}
