// Place all the styles related to the GamesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#games-table {
  border-spacing: 0;
  width: 100%;

  tr {
    &.odd {
      background-color: #fff;
    }

    &.even {
      background-color: #edf;
    }
  }

  td {
    padding: 0.5em;
  }

  thead {
    th {
      border-bottom: 1px solid #aaa;
      text-align: left;
      padding: 0.5em;

      a {
        text-decoration: none;

        &:visited {
          color: blue;
        }
      }

      .current {
        padding-right: 12px;
        background-repeat: no-repeat;
        background-position: right center;

        &.asc {
          background-image: image-url("up_arrow.gif");
        }

        &.desc {
          background-image: image-url("down_arrow.gif");
        }
      }
    }
  }
}

.game-progress p {
  margin: 0;
}

.game-title {
  display: block;

  & + span {
    margin-top: 0.25em;
  }
}

.game-started, .game-finished {
  display: block;
  font-size: 0.8em;
  color: #777;
}

h2#games-title {
  background-color: #d6aeff;
  display: block;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em 20px;
  border-top: 1px solid #edf;
  border-bottom: 1px solid #edf;
}
