/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background-color: #bfefff;
}

#container {
  margin: 5em auto 0;
  width: 70%;
  background-color: white;
  box-sizing: border-box;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-width: 890px;
}

#banner {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

#banner h1 {
  text-align: center;
  margin: 0;
}

#banner h1 a {
  text-decoration: none;
  color: black;
}

#banner h1 a:visited {
  color: black;
}

#main {
  display: -webkit-flex;
  display: flex;
}

#content {
  width: 75%;
  box-sizing: border-box;
}

#sidebar {
  width: 25%;
  box-sizing: border-box;
  padding-right: 1em;
  font-size: .75em;
  color: #352712;
}

#sidebar h2 {
  font-size: 1em;
}
