%table#entries
  %tr
    %th Title
    %th Date published
    %th
  - @blogs.each do |blog|
    %tr{ class: cycle("even", "odd") }
      %td= blog.title
      %td= blog.published_at.strftime("%B %d, %Y, %l:%M%P")
      %td
        %ul.admin-actions
          %li= link_to "View", blog_url(blog.slug)
          %li= link_to "Edit", edit_admin_blog_url(blog)
